.testimonials{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    position: relative;
}
.testimonials>:nth-child(1){
    font-weight: bold;

}
.testimonials>:nth-child(2){
    font-size: 2rem;   
    font-weight: bold;
    color: var(--orange);
}

.person{
    display: flex;
    flex-direction: column;
    background: transparent;
    border: 7px solid var(--blueCard);
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    width: 30rem;
    height: 12rem;
    box-shadow: var(--boxShadow);
    justify-content: center;
    
}
SwiperSlide{
    width: 10rem;
}

.person img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 1rem;
}
.person>:nth-child(2){
    text-align: left;
    color: rgba(100, 100, 100, 0.8);
}
.person>:nth-child(3){
    padding: 1rem;
    text-align: left;
    color: rgba(100, 100, 100, 2);
}
.blur2{
    position: absolute;
    height: 10rem;
    width: 20rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(50px);
    z-index: -9;
    margin-top: 10rem;

    
}
.t-blur{
    position: absolute;
    left: 0;
    top: 1rem;
    
}
.t-blur1{
    left: 70%;
    top: 0;
      
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
