.experience{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 12rem;
    
}

.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievement>:nth-child(3){
    color: var(--orange);
}

.circle{
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    position: relative;
}

.circle::before{
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%) !important;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    position: absolute;
    z-index: -9;

}

@media screen and (max-width:600px){
    .experience{
        margin-top: 15rem;
        transform: scale(.7);
    }


}